/* Apenas estilos mínimos para manter a estética Apple */

$primaryColor: #00abff;
$secundaryColor: #fff;
$tertiaryColor: #000;
$boxShadow: 0 4px 12px rgba(0, 0, 0, 0.05);
$linearGradientTop: linear-gradient(to top, #e0f2ff, #f9f9f9);
$linearGradientBottom: linear-gradient(to bottom, #e0f2ff, #f9f9f9);
$boxShadowCell: drop-shadow(-3px 3px 5px #000);
$boxShadowHoverCell: drop-shadow(-8px 8px 7px #000);

* {
  margin: 0;
  padding: 0;
}

body,
html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  color: #1d1d1f;
}
.container-fluid {
  margin-top: 45px;
}

// Botões

.btn-comprar,
.btn-saiba-mais {
  padding: 5px 15px;
  border-radius: 40px;
  border: none;
  font-weight: 500;
  max-width: max-content;
  margin: auto;
  text-decoration: none;

  & a {
    text-decoration: none;
    color: $secundaryColor;
  }
}

.btn-saiba-mais {
  background-color: $tertiaryColor;
  transition: all 0.5s;
  &:hover {
    transform: translateY(-5px);
    background-color: #0009;
  }
}

.btn-comprar {
  background-color: $primaryColor;
  color: $secundaryColor;
  transition: 0.5s;
}

.btn-comprar:hover {
  background-color: #006598;
}
// Fim botões

// Inicio header
// .header {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   z-index: 1000;
// }

// .navbar {
//   background-color: #111 !important;
//   backdrop-filter: saturate(180%) blur(20px);
//   box-shadow: 0 0 10px 3px #000;
//   transition: background-color 0.3s ease, box-shadow 0.3s ease;
// }

// .navbar .nav-link {
//   color: #fff !important;
//   font-size: 14px;
//   transition: 0.3s;
// }

// .navbar .nav-link:hover {
//   color: #00abff !important;
// }

// .navbar .navbar-brand {
//   color: #fff !important;
//   font-weight: bold;
//   font-size: 18px;
// }

// .navbar img {
//   width: 50px;
// }

// /* Dropdown menu estilo */
// .navbar .dropdown-menu {
//   background-color: #111;
//   box-shadow: 0 0 10px #000;
//   border-radius: 0 0 8px 8px;
//   min-width: 140px;
//   opacity: 0;
//   visibility: hidden;
//   transform: translateY(10px);
//   transition: all 0.3s ease;
//   pointer-events: none;
//   text-align: center;
// }

// .navbar .dropdown-menu li a {
//   color: #fff !important;
//   padding: 8px 15px;
//   display: block;
//   transition: 0.3s;
// }

// .navbar .dropdown-menu li a:hover {
//   color: #00abff !important;
// }

// /* Exibe dropdown no hover (apenas desktop) */
// @media (min-width: 992px) {
//   .navbar .nav-item.dropdown:hover .dropdown-menu,
//   .navbar .dropdown-menu:hover {
//     opacity: 1;
//     visibility: visible;
//     transform: translateY(0);
//     pointer-events: auto;
//   }
// }

// /* Mobile: Bootstrap controla com .show */
// .navbar .dropdown-menu.show {
//   opacity: 1;
//   visibility: visible;
//   transform: translateY(0);
//   pointer-events: auto;
// }

// /* Botão mobile personalizado */
// .navbar-toggler {
//   border: none;
//   background-color: #00abff !important;
//   padding: 6px 10px;
//   border-radius: 4px;
// }

// Fim header

// Seções de celulares
.container-fluid {
  padding-top: 70px;
}

.mySwiperIphones {
  max-width: 320px;
  margin: auto;
  margin: 10px 0;
  & .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    & img {
      width: 220px;
      height: 350px;
      border-radius: 10px;
      transition: 0.7s;
      &:hover {
        transform: translate(5px, -10px) rotate(-5deg);
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
        filter: brightness(1.05);
      }
    }
  }
}

.cell {
  .cell-container {
    box-shadow: $boxShadow;
    padding: 60px 0;
    border-radius: 10px;
    text-align: center;
    background-color: #00abff33;
    & img {
      max-height: 300px;
      transition: 0.7s;
      &:hover {
        transform: translate(5px, -10px) rotate(-5deg);
        filter: $boxShadowHoverCell;
      }
    }
  }
}

.hero {
  & img {
    max-width: 250px;
    transition: 0.7s;

    &:hover {
      transform: translate(5px, -10px) rotate(-5deg);
      filter: $boxShadowHoverCell;
    }
  }
}

// Fim seção celulares

// Carrossel de acessórios
.carousel {
  box-shadow: $boxShadow;
  margin: 50px 0;
  .swiper {
    padding: 50px 0;
    width: 100%;

    &-slide {
      display: flex;
      justify-content: center;
      transition: transform 0.5s ease, box-shadow 0.5s ease;

      &.swiper-slide-active .card {
        transform: scale(1.06); // Destaque no item central
        z-index: 2;
        background-color: #fff;
        box-shadow: 0 0 10px 5px #0006;
      }

      .card {
        width: 260px;
        border: none;
        border-radius: 15px;
        overflow: hidden;
        transition: transform 0.5s ease, box-shadow 0.5s ease;
        background-color: #f1f1f1;
        transform: scale(0.9);

        &:hover {
          transform: scale(1.02);
          box-shadow: 0 0 6px 2px #0006;
        }

        &-img-top {
          height: 240px;
          object-fit: contain;
          padding: 20px;
        }
      }
    }
  }
}
// Fim carrossel acessórios

// Assistencia tecnica
.assistencia-section {
  padding: 2rem 1rem;
  background: #00abff33;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: $boxShadow;
  & h2 {
    font-weight: bold;
    text-align: center;
  }
  & img {
    border-radius: 10px;
    max-width: 900px;
    height: 360px;
    margin: 20px 0;
    box-shadow: $boxShadow;
    transition: 0.5s transform;
    &:hover {
      transform: translateY(-10px);
    }
  }
  & .details {
    margin-bottom: 20px;
  }
  & .assistencia-box {
    padding: 1rem;
    border-radius: 12px;
    background: white;
    box-shadow: $boxShadow;
    transition: all 0.3s ease;
    &:hover {
      transform: translateY(-5px);
    }
    & i {
      font-size: 2.5rem;
      color: #0071e3;
    }
  }
}

// Fim assitencia tecnica

// Carrossel de testemunhas
.avaliacoesSwiper {
  width: 100%;
  padding: 50px 0;
  & .swiper-slide {
    display: flex;
    justify-content: center;
    & .card {
      width: 280px;
      border-radius: 15px;
      border: none;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.09);
      background-color: #fff;
      padding-bottom: 15px;
      transition: transform 0.5s ease, box-shadow 0.5s ease;
      &:hover {
        box-shadow: 0 0 8px 2px #0007;
        transform: scale(1.1);
      }
      & .avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }
      & .stars {
        color: #ffc107;
        font-size: 1.1rem;
      }
    }
  }
}
// Fim carrossel de testemunhas

// Localicação
.mapa-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
// Fim localização

// Inicio footer
.footer {
  background-color: $tertiaryColor;
  padding: 40px 0;
  font-size: 12px;
  color: $secundaryColor;
  text-align: center;
  box-shadow: 0 0 10px 3px #000;
  & img {
    width: 40px;
  }
}
// Fim footer

// Começa pagina de celulares
